html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f4f4f4;
}

.nav {
  font-size: 2.4rem;
  margin-bottom: 9.6rem;
}

.nav-list {
  background-color: #555;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-list--item {
  padding: 1.6rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: #ffe8cc;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.color-box {
  margin-bottom: 4.8rem;
}

.color-text {
  text-align: center;
  width: 85rem;
  font-size: 4.8rem;
  background-color: #000;
  padding: 1.6rem;
  border-radius: 10px;
  color: #fff;
}

.randomize {
  align-self: center;
  width: 50%;
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
}
